@use "../../styles/variables" as *;

.form-container {
  background-color: var(--mat-sys-surface-container-high);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  @include responsive-breakpoint(mobile) {
    padding: 1rem;
    border-radius: 6px;
    max-width: 100%;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.centered-toggle {
  display: flex;
  justify-content: center;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 1rem;
}
