@use "../../styles/variables" as *;
@use "@angular/material" as mat;

:host {
  display: block;
  margin-bottom: 1rem;
}

mat-card {
  @include card-shadow;

  &.positive-habit {
    border-left: 5px solid $positive-color;
  }

  &.negative-habit {
    border-left: 5px solid $negative-color;
  }
}

mat-card-header {
  cursor: pointer;

  .mat-icon {
    &.positive {
      color: $positive-color;
    }
    &.negative {
      color: $negative-color;
    }
  }

  .done-button {
    margin-left: auto; /* Pushes the buttons to the right */
  }
}

.details-content {
  padding: 1rem;
  @include responsive-breakpoint(mobile) {
    padding: 0.5rem;
  }
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  @include responsive-breakpoint(mobile) {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}
