.positive-habit {
  background-color: #bbdefb; /* Light Blue */
}

.negative-habit {
  background-color: #ffcdd2; /* Light Red */
}

.toggle-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.add-habit-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.form-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  h1 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

mat-card {
  margin: 10px 0;
}
