<mat-slide-toggle (change)="toggleHabitType()"
  >Negative Habits <b>/</b> Positive Habits</mat-slide-toggle
>

<div class="form-container">
  <h1>Add a new Habit</h1>
  <form [formGroup]="habitForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Habit Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-radio-group formControlName="type">
      <mat-radio-button value="positive">Positive</mat-radio-button>
      <mat-radio-button value="negative">Negative</mat-radio-button>
    </mat-radio-group>

    <button mat-raised-button color="primary" type="submit">Add Habit</button>
  </form>
</div>

<div></div>
<div>
  @if (showPositiveHabits) { @for (habit of habitsListPositive; track $index) {
  <mat-card>
    <mat-card-header>
      <h2>{{habit.name}}</h2>
    </mat-card-header>
    <mat-card-subtitle>Positive</mat-card-subtitle>
    <mat-card-content> {{habit.description}}</mat-card-content>
  </mat-card>
  }} @else { @for (habit of habitsListNegative; track $index) {
  <mat-card>
    <mat-card-header>
      <h2>{{habit.name}}</h2>
    </mat-card-header>
    <mat-card-subtitle>Negative</mat-card-subtitle>
    <mat-card-content> {{habit.description}}</mat-card-content>
  </mat-card>
  } }
</div>

<router-outlet />
<!--  -->
