@use "@angular/material" as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.card-overrides(
    (
      subtitle-text-color: rgb(182, 132, 40),
      filled-container-elevation: red,
    )
  );
}
