<mat-toolbar color="primary">
  <h1 class="main-title">{{ title }}</h1>
  <span class="toolbar-spacer"></span>
  <button mat-button (click)="loadDemoHabits()" color="accent">
    💎 Load Demo Habits
  </button>

  <button mat-button (click)="exportAllToJson()" color="accent">
    📤 Export JSON
  </button>
  <button mat-button (click)="showImportStepper = true" color="accent">
    📥 Import JSON
  </button>
</mat-toolbar>

<main class="container">
  <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false">
    <mat-tab label="Good Habits">
      <ng-template matTabContent>
        <app-habits-tab type="positive"></app-habits-tab>
      </ng-template>
    </mat-tab>
    <mat-tab label="Bad Habits">
      <ng-template matTabContent>
        <app-habits-tab type="negative"></app-habits-tab>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</main>

@if (showAddHabitForm) {
<div class="form-overlay">
  <app-habit-form (formClosed)="toggleHabitForm(false)"></app-habit-form>
</div>
} @if (showImportStepper) {
<div class="form-overlay">
  <app-import-stepper
    (stepperClosed)="toggleImportStepper(false)"
  ></app-import-stepper>
</div>
}

<button
  mat-fab
  color="primary"
  class="add-habit-fab"
  aria-label="Add a new habit"
  (click)="toggleHabitForm(true)"
>
  <mat-icon>add</mat-icon>
</button>

<router-outlet />
